@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.nav{
    width: 100%;   
    height: 100px;
    background-color: rgba(0, 0, 0, 0.708);
    position:relative;
}
.nav .logo img{
    width: 300px;
    float: left;
    height: 100px;
    margin-left:50px;
}
.nav-menu ul{
    float: right;
    margin-right: 40px;
}
.nav-menu ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    font-family: sans-serif;
}
.nav-menu ul li a{
    color: azure;
    font-size: 17px;
    padding: 8px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
a.active,a:hover{
    background: linear-gradient(to right, #eed21f 0%,   #f9036e 100%);
    transition: .5s;
}

/* contact us */

section{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background: #699cc2; */
    /* background: #caaefa96; */
    padding:60px;
}

.bg-color{
    background:#caaefa96;
    padding-bottom:300px;
}
section::before{
    content: ' ';
    position: relative;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}
section .container{
    position: relative;
    min-width:1300px;
    min-height:550px;
    display:flex;
    z-index:1000;
    margin-right:700px;
 }
 
 section .container .contactinfo
 {
    position:absolute;
    top: 100px;
    left:80px;
    width:400px;
    height: calc(100% -80px);
    background: #62337b;
    /* background: red; */
    z-index:1;
    padding:50px;
    padding-right:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,1,2, 1);
    margin-left: 300px;

 }
section .container .containerinfo h2
{
    color: #fff;
    font-size : 24px;
    font-weight :500;
}

section .container .contactinfo .info
{
    position:relative;
    margin: 20px 0;
}
section .container .contactinfo .info li{

    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;

}
section .container .contactinfo .info li span:nth-child(1)
{
    width:30px;
    min-width:30px;
}
section .container .contactinfo .info li span:nth-child(1) img{
    max-width:100%;
    filter:invert(1); 
    opacity: 0.5;
}
section .container .contactinfo .info li span:nth-child(2)
{
   color:#fff;
   margin-left:10px;
   font-weight:300;
   opacity:0.5;
}
section .container .contactinfo .info li:hover span:nth-child(1) img,
section .container .contactinfo .info li:hover span:nth-child(2) {

    opacity:1;
}

section .container.contactinfo .sci{
  
    position:relative;
    display:flex;
}
section .container .contactinfo .sci li{
    list-style :none;
    margin-right:15px;

}
section .container .contactinfo .sci li a{

    text-decoration:none; 
}

section .container .contactinfo .sci li a:hover{
    
    opacity: 1;
     
}
section .container .contactForm
{
    position:absolute;
    padding: 70px 50px ;
    background: #fff;
    margin-left:500px;
    padding-left:320px;
    width: calc(100% - 150px);
    height:150%;
    box-shadow: 0 50px 50px rgba(0,0,2,0.5);
    margin-bottom:200px;

}

section .container .contactForm h2
{
    color:#0f3959;
    font-size: 24px;
    font-weight: 500;
    font-family: Poppins;
}

section .container .contactForm .formBox
{
    position:relative;
    display:flex;
    justify-content :space-between;
    flex-wrap:wrap;
    padding-top:30px;
    font-family: Poppins;
    
} 
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) .row::after {
    content: "";
    clear: both;
    display: table;
  } 
   */
  section .container .contactForm .formBox img{
    border :7px solid black;
  }

  
/*footer*/

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000c6;
    padding: 60px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background: linear-gradient(to right, #eed21f 0%,   #f9036e 100%);
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-col .social-links .logo{
  width: 230px;
  height: 80px;
}
.footer-bottom{
    width: 100vw;
    text-align: center;
}
.footer-bottom p{
    font-size: 17px;
    color: #bbbbbb;
    text-transform: capitalize;
}
.footer-bottom p::before{
	content: '';
	position: absolute;
	left:40%;
	bottom: 10px;
	background: linear-gradient(to right, #eed21f 0%,   #f9036e 100%);
	height: 2px;
	width: 300px;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

